.App {
  position: relative;
  color: #333;
  background: url(images/list-bg.jpg) no-repeat;
  background-size: 400px 450px;
  height: 450px;
  width: 400px;
  margin: auto 0;
  box-shadow: 0 9px 28px 11px rgba(0,0,0,.5);

}
.App H1{
  text-align: center;
  font-size: 25px;
  font-style: normal;
}
.inputWrapper{
  position: absolute;
  top: -47px;
  left: 0;
}
.inputWrapper input{
  height: 47px;
  line-height: 47px;
  width: 400px;
  background: url(images/input-bg.jpg) no-repeat;
  background-size: 400px 47px;
  color: #fff;
  border-radius: 6px;
  padding-left: 15px;
  font-size: 16px;
  outline: none;
}
.App >.todoList>li:nth-child(odd){
   background:#eee ;
}
.App >.todoList>li:nth-child(even){
  background:transparent ;
}
.App >.todoList> li{
  border-bottom: 1px solid #77FFFF;
  height: 40px;
}